<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:fileTags="RoboHelpStatus.Draft" MadCap:sourceDocument="C:\Users\agatling\Desktop\8.3 Projects\Output\Output\CG8.3 WebHelp Output\Administering_ChangeGear\Administration\Administering_ChangeGear\Views\Creating_and_Editing_Views.htm">
    <head>

  <script type="text/javascript" language="JavaScript"><![CDATA[

 //


    function reDo() {
      if (innerWidth != origWidth || innerHeight != origHeight)
        location.reload();
    }
    if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
      origWidth = innerWidth;
      origHeight = innerHeight;
      onresize = reDo;
    }
    onerror = null;
  //

 

]]></script>
  <style type="text/css"><![CDATA[
/*
*/

    < !-- div.WebHelpPopupMenu {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 4;
      visibility: hidden;
    }

    p.WebHelpNavBar {
      text-align: right;
    }

    -->
  
/*

]]></style>

  <script type="text/javascript"><![CDATA[

//



    gRootRelPath = "../../../..";
    gCommonRootRelPath = "../../../..";
    gTopicId = "1";
  
//]]></script><![CDATA[ ]]> 

  <script type="text/javascript" src="../../../../template/scripts/rh.min.js"></script><![CDATA[ ]]> 
  <script type="text/javascript" src="../../../../template/scripts/common.min.js"></script><![CDATA[ ]]> 
  <script type="text/javascript" src="../../../../template/scripts/topic.min.js"></script><![CDATA[ ]]> 
  <script type="text/javascript" src="../../../../template/scripts/topicwidgets.min.js"></script><![CDATA[ ]]> 
<script type="text/javascript" src="../../../../whxdata/projectsettings.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../../template/styles/topic.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../../template/Azure_Blue/topicheader.css" />
  
<link rel="StyleSheet" href="../../../../assets/css/CGWeb.css" type="text/css" data-condition="Others:Administration" />
  
  
  
  <meta name="condition-tags" content="Others:Administration" data-condition="Others:Administration" />
  <title data-condition="Others:Administration">Creating and Editing Views</title>
  
  <meta name="rh-index-keywords" content="Views" data-condition="Others:Administration" />
  <meta name="robots" content="NOODP" data-condition="Others:Administration" />
</head>

<body>
  <div class="topic-header rh-hide" id="rh-topic-header">
    <div class="logo"></div>
    <div class="nav">
      <div class="title" title="Creating and Editing Views">
        <span>Creating and Editing Views</span>
      </div>
      <div class="gotohome" title="Click here to see this page in full context">
        <a href="#" onclick="rh._.goToFullLayout()">Click here to see this page in full context</a>
      </div>
    </div>
  </div>
  <div class="topic-header-shadow rh-hide" id="rh-topic-header-shadow"></div>



  <div data-condition="Others:Administration">
    <p />
  </div>
  <div data-condition="Others:Administration">
  <h2><span data-field="title" data-format="default">Creating and Editing Views</span></h2>
  <p>You can create or edit views that can then be accessed by all or a subset of users using the Administration module. Users can create their own custom views in their client, but those views will only be visible to the user that created them.</p>
  <p class="note"><span class="tipnote">Note:</span> With the proper privileges, ChangeGear allows users to manage views, (i.e., create and edit), directly in the Web using the Web View Editor. Please refer to the Web Help <span style="font-style: italic;">Administration </span>section,
    <span style="font-style: italic;">View Management</span> for an explanation of this function.<span style="font-style: italic;"><![CDATA[ ]]> </span></p>
  <p class="inst">To create or edit views:</p>
  <ol>
    <li>
      <p style="text-align: justify;">In the <b>Administration</b> explorer, navigate to the management node of your choice and choose <span style="font-weight: bold;">Views</span>. For example, if you wanted to modify a view in the Incident Module, you would navigate to <span style="font-weight: bold;">Incident Management &gt; Views</span><span>.</span></p>
    </li>
    <li>
      <p style="text-align: justify;">In the <b style="font-weight: normal;">Tasks</b> group menu, click <b>New</b>. If you are editing a view, select the view and click <span style="font-weight: bold;">Edit</span><span>.</span></p>
    </li>
    <li>
      <p>Follow the instructions on the Tasks group menu of the View Designer (located on the left):</p>
      <ul>
        <li>
          <p><a href="../../Working_with_ChangeGear/Working_with_the_Grid/Adding_and_Removing_Columns.htm">Choose which columns</a> you want in the view.</p>
        </li>
        <li>
          <p><a href="../../Working_with_ChangeGear/Working_with_the_Grid/Grouping_Columns.htm">Group</a> or <a href="../../Working_with_ChangeGear/Working_with_the_Grid/Sorting_the_Grid.htm">Sort</a> the columns.</p>
        </li>
        <li>
          <p><a href="../../Working_with_ChangeGear/Working_with_the_Grid/Filtering_Columns.htm">Filter</a> the results.</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Click <b>Save</b>. The View Details dialog displays.</p>
    </li>
    <li>
      <p>In the <b>Name</b> field, type the name of your custom view. You will not be able to edit the <span style="font-weight: bold;">Name</span><![CDATA[ ]]> <![CDATA[ ]]><span>field if you are modifying a view.</span></p>
    </li>
    <li>
      <p>In the <b>Description</b> field, type a short description of the view.</p>
    </li>
    <li>
      <p>If you do not want the view deployed at this time, do not select <span style="font-weight: bold;">Visible - If unchecked, users will not be shown this view</span>.</p>
    </li>
    <li>
      <p><span>If you want to the view to be visible on the</span><![CDATA[ ]]> <![CDATA[ ]]><span style="font-weight: bold;">Navigation Panel</span><![CDATA[ ]]> <![CDATA[ ]]><span>of ChangeGear Web in addition to the</span><![CDATA[ ]]> <![CDATA[ ]]><span style="font-weight: bold;">Views</span><![CDATA[ ]]> <![CDATA[ ]]><span>drop-down menu, select</span><![CDATA[ ]]>         <span style="font-weight: bold;">Appears in the Navigation Panel of ChangeGear Web</span><span>.</span></p>
    </li>
    <li>
      <p>If you'd like to use the <a href="Using_the_Criteria_Editor.htm">Criteria Editor</a> to filter your report results, click on the <span style="font-weight: bold;">Filter</span> tab and add filter criteria.</p>
    </li>
    <li>
      <p>If you wish to specify how ownership and team membership impact what is viewed, click the <span style="font-weight: bold;">Ownership</span> tab and select from the following:</p>
      <ul>
        <li>
          <p><span style="font-weight: bold;">All Viewable</span> - All users can see the view, but the items displayed by the view may be restricted based on owners, teams, and privileges.</p>
        </li>
        <li>
          <p><span style="font-weight: bold;">User's Team</span> - If a user is part of a team, the user will be able to select this view and the view will display items the team owns.</p>
        </li>
        <li>
          <p><span style="font-weight: bold;">User's Own</span> - This view will always be visible to the user and displays only tickets that the user owns.</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Click <span style="font-weight: bold;">OK</span>. ChangeGear will display a prompt when the view is saved.</p>
    </li>
    <li>
      <p>Close the View designer.</p>
    </li>
  </ol>
  <p />

</div>
  <div data-condition="Others:Administration">
    <p style="margin-right: 607px;"><a data-condition="Others:Online" href="javascript:history.go(-1)">Back</a></p>
    <p style="margin-right: 607px;" />
    <p style="margin-right: 607px;" />
  </div>

</body></html>